<!DOCTYPE html>
<html>
  <head>
    <title> Order Information </title>
  </head>
  <body>
    <h1 style="text-align:center"> ORDER INFORMATION </h1>

    <ul>
      <li>Reference Number = <%= order.reference_no%>
      <li>Customer Name = <%= order.customer_name%>
      <li>Date = <%= order.date%>
    </ul>
  </body>
</html>

